body,
html {
  height: 100%;
  margin: 0;

  background: linear-gradient(270deg, #00dcf5, #e2b9ff);
  background-size: 200% 200%;
}
h1,
h2,
h3 {
  font-family: Alatsi;
}
header {
  background: #8246c7;
  padding: 15px 0;
  border-radius: 5px 25px 0 0;
}
header h3 {
  color: aliceblue;
  font-size: 24px;
  margin: 0 0 0 50px;
}
p,
header span {
  font-family: Comfortaa;
}
.timer #cronometro{
  font-family: alatsi;
  font-weight: 900;
  font-size: 26px;
  color:rgb(5, 185, 80);
  position: relative;
  left: 80px;
  bottom: 12px;
}
#btn-time {
  position: relative;
  bottom: 42px;
  left: 50px;
  

}
.timer .preloader-wrapper{
  position: relative;
  top: 10px;
  left: 23px;
  
}
.timer .progress{
   height: 10px;  
   background-color: rgb(248, 248, 248);
   position: relative;
   bottom: 0px;
   margin-bottom: 40px

}
.timer .progress .determinate{
  width: 99%;
  background-color: rgb(5, 185, 20);
}
#user-name {
  color: #fff;
  font-size: 18px;
  padding-left: 25px;
}
#user-name:hover {
  background: -webkit-linear-gradient(#eae6ee, #00dcf5, #043288);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  text-transform: initial;
  border-radius: 0 25px 0 25px;
  background: linear-gradient(300deg, #b668ffd0, #2e5cb3);
}
.btn:hover {
  background-image: linear-gradient(45deg, #00dcf5, #8425c8);
}
/*DROPDROWN MENU*/
.dropdown-content {
  height: auto;
  width: 600px;

  border-radius: 0 0 25px 25px;
  background: linear-gradient(320deg, #b67aee, #769ee9e7);
}
.dropdown-content li a {
  color: #ffffff;
}

#dropdown-exit a:hover {
  color: rgb(221, 43, 12);
  font-size: 20px;
  font-weight: 900;
}

.material-icons {
  color: #fff;
}
.chat-desktop .material-icons:hover {
  background: -webkit-linear-gradient(#eae6ee, #00dcf5, #043288);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal {
  background: linear-gradient(280deg, #a341ff, #00dcf5);
}
.modal p {
  font-weight: 500;
  color: #fff;
  margin: 0 50px;
}
.modal h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 2px 1px #251731;
}
.modal .action {
  text-align: center;
}
.action a {
  margin: 5px 25px;
}
