* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "comfortaa", sans-serif;
  background-color: #ffffff;
}

h1,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Alatsi", sans-serif;
  text-align: center;
  color: #383f51;
  margin: 0;
}
header h2 {
  background: -webkit-linear-gradient(#b668ffd0, #2e5cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  padding: 2%;
  margin: 0;
}
.row .pagination {
  margin-bottom: 1%;
}
.divider {
  width: 76%;
  height: 2px;

  margin: 2% 12%;
  background-image: linear-gradient(270deg, #8425c8, #00dcf5);
}
.btn {
  text-transform: initial;
  border-radius: 5px 25px;
  background: linear-gradient(300deg, #b668ffd0, #2e5cb3);
}
.btn:hover {
  background-image: linear-gradient(45deg, #00dcf5, #8425c8);
}
.btn #artigo1 {
  background-color: #2e5cb3 !important;
}

.btn-floating {
  background: linear-gradient(300deg, #b668ffd0, #2e5cb3);
  position: fixed;
}
.btn-floating:hover {
  background-image: linear-gradient(45deg, #00dcf5, #8425c8);
}

#scroll-nav {
  height: 80px;
  background-color: #f8f7ff;
}
.nav-wrapper {
  margin: 0 5%;
  padding-top: 7px;
}
#nav-mobile {
  margin-left: 25%;
}

#nav-mobile a,
#NavBottom a {
  background: -webkit-linear-gradient(#b668ffd0, #2e5cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  font-weight: 800;
}

#nav-mobile a:hover,
#NavBottom a:hover {
  font-size: 18px;
}
#nav-login {
  height: 65px;
  width: 250px;
}

#nav-login #user-name {
  font-size: 22px;
  position: relative;
  top: 10px;
}
#nav-login #user-status {
  color: rgba(17, 255, 0, 0.856);
  font-weight: 800;
  font-size: medium;
  position: relative;
  bottom: 15px;
  left: 10px;
}
#nav-login #user-status i {
  position: relative;
  left: 50px;
  bottom: 15px;
  font-size: larger;
  font-weight: 700;
}
#drop-menu a:hover {
  color: #b151f5;
  font-weight: 900;
  background-color: #ffffffc4;
}
/*Mobile SideNAV*/
.sidenav #mobile-demo ul li a i .material-icons {
  color: #f8f7ff;
  font-size: 30px;
}
#mobile-demo {
  background: linear-gradient(320deg, #b668ffd0, #2e5cb3);
}
#mobile-demo li a {
  color: #f8f7ff;
  font-size: 18px;
}
#mobile-demo #profile {
  width: auto;
  height: 120px;
  margin-left: 25%;
}
#mobile-demo #name {
  font-size: 18px;
  font-weight: 500;
  font-family: "Alatsi", sans-serif;
  color: #f8f7ff;
  position: relative;
  bottom: 10px;
  right: 5px;
}
#mobile-demo #user-type {
  color: #f8f7ff;
  margin-left: 50px;
}
#mobile-demo #user-status {
  font-weight: 800;
  position: relative;
  left: 35px;
}
#mobile-demo #user-status i {
  position: relative;
  left: 145px;
  bottom: 5px;
}
#mobile-demo .collapsible .collapsible-body {
  background-color: #ececec;
  font-size: 18px;
  font-weight: 500;
  font-family: "Alatsi", sans-serif;
}
#mobile-demo .collapsible .item-viewprofile {
  color: #239dce;
  margin-left: 10%;
}
#user-instituicao,
#user-matricula,
#user-conversas,
#user-timer,
#user-last-chat {
  color: #611994;
  margin-right: 10%;
}

/*DROPDROWN MENU*/
.dropdown-content {
  height: auto;
  border-radius: 0 0 25px 25px;
  background: linear-gradient(320deg, #b67aee, #769ee9e7);
}
.dropdown-content li a {
  color: #ffffff;
}

#dropdown-exit a:hover {
  color: rgb(221, 43, 12);
  font-size: 20px;
  font-weight: 900;
}
/*HEADER*/
#top-ilustração img {
  position: relative;
  top: 25px;
}
#intro h1 {
  color: #def1f5;
  text-shadow: royalblue 2px 3px;
  text-align: center;
  margin: 5% 15%;
}
#intro p {
  font-size: 20px;
  text-align: right;
  max-width: 700px;
  color: #e7e7e7;
  margin: 5% 15%;
}
#intro p:hover {
  font-weight: 500;
  color: #ffffff;
}
/*ARTIGOS*/
.destaque,
.destaque h3 {
  color: #fff;
}
.card-reveal .card-title {
  font-size: 26px;
  background: -webkit-linear-gradient(#b668ff, #07acf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  margin: 15px;
}

/*COLABORADORES*/
.card {
  max-height: 350px;
  background: linear-gradient(45deg, #d5a8ff, #07acf8);
  border-radius: 5px 25px;
}

#cards-colaboradores .card-image {
  padding: 0.75rem;
}
.card-title {
  font-family: "Alatsi", sans-serif;
}
#cards-colaboradores .card-content span,
.card-title {
  color: #fff;
  text-align: center;
}
div#cards-colaboradores .card img#photo {
  max-width: 300px;
  max-height: 200px;
  border-radius: 5px 15px;
}
#cards-colaboradores .btn-floating {
  background-image: linear-gradient(45deg, #00dcf5, #8425c8);
}
#cards-colaboradores .btn-floating:hover {
  background-image: linear-gradient(45deg, #8425c8, #00dcf5);
}
.pagination .active a {
  background-image: linear-gradient(45deg, #00dcf5, #8425c8);
  border-radius: 2px;
}

/*PARCEIROS*/
.parceiros {
  height: 250px;
}
.parceiros img {
  margin: 10px 5px;
  padding: 10px 5px;
}
/*FOOTER*/
.redes-sociais img {
  margin-bottom: 2%;
  width: 40px;
  -webkit-filter: grayscale(100%);
}
.redes-sociais img:hover {
  -webkit-filter: grayscale(0%);
  transition: 0.1s;
}
dl {
  position: relative;
  bottom: 17px;
}
dt,
footer h6,
.NightMode h6 {
  font-family: Alatsi;
  margin-bottom: 9px;
  font-size: 18px;
  color: #8425c8;
  font-weight: 500;
  margin: 30px, 0;
}
footer h6 {
  text-align: left;
}
dd {
  margin-left: 25px;
}
dd a,
footer p {
  margin-top: 0;
  color: #383f51;
  font-weight: 300;
  text-align: justify;
}
dd a:hover {
  font-size: 17px;
  background: -webkit-linear-gradient(#b668ffd0, #2e5cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}
footer p:hover {
  background: -webkit-linear-gradient(#9d3ff5, #2e5cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}
footer label {
  padding-left: 10px;
  background: -webkit-linear-gradient(#b668ffd0, #2e5cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

/*MODAL PROFISSIONAL*/
#modal-profissional {
  border-radius: 5px;
  background: #ffffff;
}
#m-photo img {
  border-radius: 15px;
}
#m-info {
  margin-top: 30px;
}
#m-info #p-nome {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  background: -webkit-linear-gradient(#b668ffd0, #2e5cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#m-info span {
  font-size: 18px;
  text-align: left;
  color: #802ece;

  font-weight: 300;
}
.card-panel {
  color: #802ece;

  font-weight: 500;
}
#modal-head {
  margin-bottom: -10px;
}
#modal-body {
  background: linear-gradient(45deg, #d5a8ff, #8ad3f5);
  border-radius: 5px 25px;
}
#modal-body h6 {
  margin: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

div#imagens-local .slides {
  width: 150px;
  height: 100px;
}
/* Slideshow container */
.gallery-container {
  width: 100%;
  position: relative;
  margin: 10%;
}
@media (min-width: 9em) {
  .gallery-container {
    width: 19em;
    margin: auto;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 10em;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  margin-top: -30px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: linear-gradient(300deg, #b668ffd0, #2e5cb3);
}

/* Position the "next button" to the right */
.next {
  left: 14rem;
  border-radius: 25px;
}
.prev {
  right: 17.5rem;
  border-radius: 25px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-image: linear-gradient(45deg, #00dcf5, #8425c8);
}

/* Caption text */

.imgslide {
  width: 15.5em;
  height: 10em;
  margin-top: 20px;
  margin-bottom: 20px;
}

section.gallery-container {
  position: relative;
  margin: 0;
  padding: 0;
  left: 0em;
  top: 1em;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
